.languages {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}


.skillItem {
    border: 2px solid #ABB2BF;
    color: #ABB2BF;
    text-align: center;
    border-radius: 8px;
    margin-left: 20px;
    margin-top: 18px;
    width: 300px;
}

.skillItem:hover {
    background: #C470DB;
    box-shadow: 1px 1px 8px 5px beige;
}


.skillItem h3 {
    color: white;
    margin-top: 10px;
    padding: 10px;
    text-transform: uppercase;
}

.skillItem p {
    padding: 10px;
    color: #ABB2BF
}