.heading {
    color: #C470DB;
    margin-top: 6rem;
    font-family: "fira code", monospace;
}

.animate {
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    /* Cursor */
    display: inline-block;
    animation: typing 4s steps(18) infinite 2s, blink 0.7s step-end infinite;
    /* animation-delay: 2s; */
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    /* Delay the animation to start after the first one */
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 20ch;
        /* 12 characters in "Web Developer" */
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.paragraph {
    color: white;
    width: 628px;
}

.paragraph h5 {
    text-align: left;
    word-spacing: 10px;
    margin-top: 2rem;
    line-height: 35px;
    color: #ABB2BF;
    text-align: left;
}

.webdeveloper {
    color: #f33838;
    text-shadow: 4px 4px 2px crimson;

    font-weight: 700;
    font-size: x-large;
}

.discription {
    /* margin-left: ; */
    margin-top: -15px;
}

.main-div {
    display: flex;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 120px;
}

.myImage {
    border-radius: 50%;
    margin-top: 6rem;
    outline: 5px solid #C470DB;
}



.raheel:hover {
    transition: transform 0.5s ease;

}

@media only screen and (max-width:1000px) {
    .paragraph {
        width: 500px;
    }
}

@media only screen and (max-width:800px) {
    .container {
        flex-direction: column-reverse;
        margin-top: 19px;
        gap: 42px;
    }

    .raheel {
        height: 200px;
    }

    .paragraph {
        width: 475px;
        font-size: calc(1.375rem + 1.5vw);
    }


}

@media screen and (max-width:450px) {
    .paragraph h5 {
        margin-left: 22px;
    }

    .paragraph {
        width: 350px;
    }

    .paragraph h1 {
        font-size: 22px;

    }
}

.mediaHeader {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 16px;
    gap: 8px;
    top: 0px;
}