.container {
    border: 2px solid white;
    color: white;
    text-align: center;
    border-radius: 8px;
    margin-top: 18px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8px;
    height: fit-content;

}

.projectContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container img {
    width: -webkit-fill-available;
}

.container h2 {
    border-bottom: 1px solid whitesmoke;
    width: -webkit-fill-available;
    padding: 15px;
}

.container p {

    font-size: 20px;
    color: #ABB2DB
}

@media screen and (max-width:500px) {
    .container {
        width: 300px;
    }
}