* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: white;
}

body {
  /* background: url(../src/assets/symbol-scatter-haikei.png); */
  background-color: #282C33;
  font-family: "Fira Code", monospace;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");

}

.fixed-toggler {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

}

.navbar-brand img {
  width: 100px;
  height: 58px;
}

@media (max-width: 768px) {
  .fixed {
    position: static;
  }

  .top {
    position: absolute;
  }


}

@media screen and (max-width:990px) {
  .navbar-brand img {
    top: 10px;
    position: absolute;
    right: 10px
  }
}

.top {
  margin-right: 40px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: #282C33;
}

.purple {
  color: #C470DB;
}

.mainBtn {
  background: #282C33;
  padding: 10px;
  /* border: 2px solid #C470DB; */
  border-radius: 2px;
  font-size: 20px;
  background-color: #282C33;
  font-family: sans-serif;
  text-transform: capitalize;
  color: #C470DB;
}

.mainBtn:hover {
  background-image: linear-gradient(90deg, #C470DB 50%, #282C33 50%);
  background-size: 200% 100%;
  background-position: right center;
  transition: background-position 0.45s ease;
  -webkit-transition: background-position 0.45s ease;
  color: #fff;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 50px;
  min-width: 400px;
  background-image: url("assets/symbol-scatter-haikei.png");
}

.contact-form label {
  font-size: 22px;
  margin-top: 15px;
  margin-left: 15%;
  text-align: left;
}

.contact-form textarea,

input {
  width: 70%;
  margin-left: 15%;
  padding: 10px;
  color: black;
}

.contact-form button {
  margin-top: 20px;
}

.raheel {
  border-radius: 50%;
  width: 307px;
}



.mining-heading {
  color: white;
  border-bottom: 0.7px solid #f0ffff40;
  text-align: center;
  width: 102.7%;
  margin-left: -12px;
}

.myImg {
  width: 107.5%;
  height: auto;
  margin-left: -12px;
}

.projectBtn {
  right: 20px;
  position: absolute;

}

.line {
  background: #C470DB;
  width: 200px;
  height: 2px;
  margin: 25px;
}

.nav-list a {
  color: #ABB2BF;
  font-family: "Fira Code", monospace;
  margin-left: 22px;
  font-size: 16px;
  border-bottom: 2px solid #282C33;

}

.nav-item a:hover {
  color: white;
}

.para p {
  font-size: larger;
  width: 100%;
  color: #ABB2BF;
}

.h1 {
  margin-left: 60px;
}

@media screen and (max-width:500px) {
  .img-div {
    width: 300px;
  }

  .myImg {
    width: 109.5%;
  }
}

@media screen and (max-width:800px) {
  .about-div {
    flex-direction: column;
  }

  .contact-form textarea,
  input {
    width: 80%;
  }

  .contact-form {
    padding: 0px;
    padding-bottom: 40px;
  }

  .h1 {
    margin-left: 20px;
  }

  .line {
    display: none;
  }
}

.myprogress {
  margin-left: 20px;
}

.main {
  display: flex;
}

.progress {
  margin-left: 20px;
}

.footer {
  background-color: #343a40;
}

.nav-item a {
  color: #ABB2BF;
}